* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------------password styles, view page---------------------*/
#password {
    width: 7em;
    margin: 0;
    font-size: 1.25em;
    font-family: 'Cormorant Garamond', serif;
    display: block;
    text-align: center;
    border: none;
    padding: 10px;
}

#enter {
/*           CHANGE WIDTH FROM PX */
    width: 11em; 
    padding: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 0;
    font-size: 0.8em;
    font-family: 'Crimson Text', serif;
    letter-spacing: 0.2em;
    margin: 0 auto;
    
    background: none;
    border: none;
    border-bottom: 0.5px solid black !important;
    
}

#enter:hover span {display: none;}
#enter:hover:before {content: "ENTER";}

#password:focus, #enter:focus, #save:focus, #myPassword:focus {
    outline: none;
}

#pw-container {
    border: none; /* for debugging */
    position: fixed;
    width: 8.8em;
    top: 42%;
    left: 0;
    right: 0;
    margin: auto;
}


/*-----------------password styles, compose page---------------------*/

#pw-set-container {
    position: fixed;
    top: 17px;
    right: 20px;
}

#save, #password-button {
    border: none;
    border-radius: 0;
    font-size: 0.8em;
    font-family: 'Crimson Text', serif;
    letter-spacing: 0.2em;
    background: transparent;
}

#password-button {
    position: fixed; /* or absolute? look at "send" under compose.css*/
    font-size: 0.75em;
    top: 20px;
    right: 20px;
}

#eye:hover, #save:hover, #password-button:hover {
    cursor: pointer;
}


#myPassword {
    border: none;
    text-align: right;
    font-size: 1em;
    font-family: 'Cormorant Garamond', serif;
}

#eye {
    border: none;
    margin-right: 10px;
    height: 1em;
    position: relative; /*adjust position from its default layout*/
    top: 3.5px;
}

.disabled {
    pointer-events: none;
    opacity: 0;
}
